*{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
}

/* top bar styles */
.top-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:hsl(43, 64%, 53%) ;
    padding: 15px 100px;
}
.top-bar-img{
    height: 15px;
    width: 15px;

}

/* nav bar styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    padding: 20px 100px;
    /* font-weight: 600; */
}
.nav-option-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 60px;
    font-weight: 600;
    padding-left: 150px;

}
.ticket{
    padding: 10px 25px;
    background-color:rgb(255, 102, 0);
    border: none;
    border-radius: 35px;
    font-weight: 600;
    color: white;
}
